body{
  font-size: 16px;
  font-family: Arial,sans-serif;
}

/*Header*/
#header-nav{
  background-color: FFF;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1{ /*Resturant name*/
  color: ##501DAF;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  
}

.navbar-brand{
  text-decoration:none;
}
