/* Navbar styling */
#header-nav {
  background-color: #E9C8FA;
  border-radius: 0;
  border: 0;
}

/* Brand styling */
.navbar-brand h1 {
  color: #970DDB;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}


/* Hide dropdown by default and only show on xs */
.dropdown-xs {
  position: relative;
  display: none;
}

/* Show only on extra small screens */
@media (max-width: 767px) {
  .dropdown-xs {
    display: block;
    clear:right;
  }

  .dropdown-toggle {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .dropdown-menu-xs {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 2px solid #ccc;
    text-align: center;
  }

  .dropdown-menu-xs a {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eee;
  }

  .dropdown-xs:focus-within .dropdown-menu-xs {
    display: block;
  }


}

.page-title h1{
  text-align: center;
}

h2{
  text-align: center;
}
