/* Navbar styling */
#header-nav {
  background-color: #E9C8FA;
  border-radius: 0;
  border: 0;
}

/* Brand styling */
.navbar-brand h1 {
  color: #970DDB;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

/* Mobile dropdown menu (full width) */
#mobile-dropdown {
  padding: 0;
  background-color: #D9A5F5;
}
#mobile-dropdown ul {
  width: 100%;
  margin: 0;
}
#mobile-dropdown li {
  text-align: center;
  border-bottom: 1px solid #61122f;
}
#mobile-dropdown a {
  color: #61122f;
  display: block;
  padding: 10px 0;
}
